################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphProject/bin/Debug/net8.0
/GraphProject/obj
/.vs/GraphProject/DesignTimeBuild
/.vs/GraphProject/FileContentIndex
/.vs
